:root {
  font-family: 'Inter', sans-serif;
  background-color: #050505;
  color: white;
}

body {
  margin: 0;
  background: radial-gradient(circle at 50% -20%, #1a1a1a 0%, #050505 80%);
  min-height: 100vh;
}